<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] bShare </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/font-awesome/css/all.css" rel="stylesheet"/>
    <link rel="stylesheet" href="~/css/bshare.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/favicon.ico"/>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <header>
        <nav class="navbar text-light" style="background-color:#04364A;">
            <div class="container-fluid justify-content-center">
                <a class="navbar-brand custom-link" asp-area="" asp-controller="FileUpload" asp-action="Upload">bShare</a>
                <a href="https://github.com/beetron/bShare" target="_blank" class="custom-link" style="">
                    <i class="fa-brands fa-github fa-xl"></i>
                </a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
