
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h5 class="display-4">BShare, simple file sharing for friends</h5>
    <p>AccessShortLinkearn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
