@font-face {
    font-family: 'Mohave';
    src: url('../font/Mohave-Regular.ttf') format('truetype');
}

body {
    font-family: Mohave, sans-serif;
}

.custom-background-color {
    background-color: #001524;
}

.custom-container {
    background-color: #04364A;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.custom-content-container {
    background-color:#04364A;
}

.custom-width {
    width: 150px;
}

.file-details {
    background-color: #176B87;
    border-radius: 8px;
}

.file-description-width {
    width: 400px;
}

.custom-button-color {
    background-color: #176B87;
}

.custom-button-color-two {
    background-color: #04364A;
}

.custom-link:link {
    color: white;
}
.custom-link:visited {
    color: white;
}
.custom-link:hover {
    color: #176B87;
}
.custom-link:active {
    color: #176B87;
}
